name: CI - Run Tests on All OS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-windows:
    name: Build Main Project (Windows only)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - run: dotnet restore ./skbd/skbd.sln
      - run: dotnet build ./skbd/skbd.sln --configuration Release --no-restore

  run-tests:
    name: Run Tests on All OS
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - run: dotnet restore ./skbd.Tests/skbd.Tests.sln
      - run: dotnet test ./skbd.Tests/skbd.Tests.sln --configuration Release --no-build --verbosity normal
