name: Run Tests on Matrix

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    name: Run tests on OS matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x  

      - name: Restore dependencies
        run: dotnet restore ./skbd.sln

      - name: Build project
        run: dotnet build ./skbd.sln --configuration Release --no-restore

      - name: Run tests
        run: dotnet test ./skbd.Tests/skbd.Tests.csproj --no-build --verbosity normal
